#form-section { 
    background-image: url("./img/musculation.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% ;
    padding: 80px 0; 
    border-radius :400px 0  ;
   
}

.form-contact {
    background-color: #EAECF0;

    width: 600px;
    margin: 0 auto;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    border-radius: 100px 20px;
}

.input-name{
    width: 400px;
    height: 30px;
    border-radius: 10px 0 10px 0 ;
    padding: 10px;
    border: #FE7F2D 3px solid;

}

#input-msg{
    width: 400px;
    height: 40px;
    border-radius: 10px 0 10px 0 ;
    padding: 10px ;
    border: #FE7F2D 3px solid;
}
button{
    margin-top: 40px;
}

#contact-nous{
    color:  #000000 ;
    margin-bottom: 70px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;

}
label{
    color:  #000000;
    font-size: large;
}
.input-div{
    display: flex;
    flex-direction: column;
    gap: 13px;

    padding: 10px;
    border-radius: 10px;
}
#local-map{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
    background-color: #EAECF0 ; 
    padding: 100px;
}
